# copy relevant keys from repo root .env or override locally
ENVIRONMENT=docker
DEV_PHASE=dev
DJANGO_SECRET_KEY=change-this-secret
DJANGO_DEBUG=True

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=socialx_db
POSTGRES_USER=socialx
POSTGRES_PASSWORD=change_me

REDIS_URL=redis://redis:6379/0

ALLOWED_HOSTS=*
COOKIE_SECURE=False
COOKIE_HTTPONLY=True
COOKIE_SAMESITE=lax

SIGNING_KEY=some-secrete-key

# JWT cookie names
ACCESS_COOKIE_NAME=access_token
REFRESH_COOKIE_NAME=refresh_token
ACCESS_TOKEN_LIFETIME_MINUTES=15
REFRESH_TOKEN_LIFETIME_DAYS=7
